.hero {
    background-color: $veryLightGray;
    

    @include breakpoint-up(large) {
        display: flex;
        align-items: center;
    }

    &__image {
        position: relative;
        background-image: url('/images/bg-intro-mobile.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;

        @include breakpoint-up(medium) {
            min-height: 25rem;
        }

        @include breakpoint-up(large) {
            flex: 3;
            order: 2;
            height: 41rem;
            background-image: none;
            //background-image: url('/images/bg-intro-desktop.svg');
            //background-position: left center;
        }

        &::before {
            //content: "";
            //position: absolute;
            //height: 100%;
            //width: 100%;
            //background-image: url('/images/bg-intro-desktop.svg');
            //background-size: 93%;
            //background-repeat: no-repeat;
            //background-position: center bottom;

            @include breakpoint-up(large) {

                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                background-image: url('/images/bg-intro-desktop.svg');
                background-size: 168%;
                background-repeat: no-repeat;
                background-position: 14% 73%;

            }
        }

        &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background-image: url('/images/image-mockups.png');
            background-size: 93%;
            background-repeat: no-repeat;
            background-position: center bottom;

            @include breakpoint-up(medium) {

                background-size: 61%;
                background-position: center center;

            }

            @include breakpoint-up(large) {

                content: "";
                position: absolute;
                height: 125%;
                width: 100%;
                background-image: url('/images/image-mockups.png');
                background-size: 105%;
                background-repeat: no-repeat;
                background-position: center bottom;
                left: 16%;

            }
        }
    }

    &__text {
        
        text-align: center;

        @include breakpoint-up(large) {
            flex: 2;
            order: 1;
            text-align: left;
            margin-left: 10.28125rem;
        }
        
    }
}